.framer_left {
  width: 100%;
  float: left;
  position: relative;
  padding: 0 0 0 5px;
}

.triangle_left {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #e4e6eb;
  position: absolute;
  left: 0;
  top: 6px;
}

.rotationtiao_left {
  float: left;
  padding: 5px 10px;
  background-color: #e4e6eb;
  font-size: 14px;
  border-radius: 2px;
  max-width: 420px;
}

.framer_right {
  width: 100%;
  float: right;
  position: relative;
  padding: 0 5px 0 0;
}

.triangle_right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #c9e1ff;
  position: absolute;
  right: 0;
  top: 6px;
}

.rotationtiao_right {
  float: right;
  padding: 5px 10px;
  background-color: #c9e1ff;
  font-size: 14px;
  border-radius: 2px;
  max-width: 420px;
}

.header_name {
  font-weight: 500;
  font-size: 18px;
  line-height: 64px;
  color: var(--juejin-font-1);
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  user-select: none;
}

.headerStyle{
      background-color: #fff;
      border-bottom: 1px solid #e4e6eb;
      padding: 5px 24px
};

.contentStyle{
      flex: 15;
      position: relative;
      background-color: #fff;
      overflow: auto;
      padding: 0 24px
};

.footerStyle{
      flex: 3;
      color: #e4e6eb;
      background-color: #fff;
      border-top: 1px solid #e4e6eb
};
.siderStyle{
      background-color: #fff;
      overflow: auto;
      max-height: 700px;
      border-right: 1px solid #e4e6eb
};
.msgFooter{
      height: 24px;
      padding: 0;
      font-size: 14px;
      line-height: 22px;
      color: #e4e6eb;
      text-align: right;
};
.RowStyles {
      width: 1200px;
      box-sizing: border-box;
      margin: auto;
      margin-top: 10px;
      height: calc(100vh - 250px);
      min-height: 700px;
      left: -120px
}
