* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  // font-family: -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial !important;
}

body {
  background-color: #f6f6f6;
  word-break: break-word;
  // overflow-y: auto;
}

.comm-left {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.3rem;
  border-bottom: 1px solid #eee;
  margin-right: 8px;
}

.comm-box {
  background-color: #fff;
  margin-left: 0.5rem;
  padding: 0.3rem;
  border-radius: 0.3rem;
  border-bottom: 1px solid #eee;
}

.comm-main {
  margin-top: 0.5rem;
}

.list-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #252933;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px 0;
}

.list-context {
  padding-bottom: 10px;
  color: #777;
}

.list-icon {
  padding: 0.5rem 0;
  color: #aaa;
}

.list-icon span {
  display: inline-block;
  padding: 0 10px;
}

.bread-div {
  padding: 0.5rem;
  border-bottom: 1px solid #eee;
  background-color: #e1f0ff;
}

a {
  text-decoration: none;
  color: #86909c;
}

a:hover {
  color: #7bb9ff;
}

.icon-type {
  font-size: 16px;
  color: #7bb9ff;
  background-color: #e1efff;
  border-radius: 50%;
  padding: 6px;
}

.link:hover {
  color: #7bb9ff;
}

.panelBtn {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

.header_title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  color: #252933;
}

// 美化滚动条
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  width: 6px;
  background: rgba(#101f1c, 0.1);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(144, 147, 153, 0.5);
  background-clip: padding-box;
  min-height: 28px;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  transition: background-color 0.3s;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(144, 147, 153, 0.3);
}

// 头部下拉
.more-list {
  margin: 10px auto 35px auto;
  height: 40px;
  cursor: pointer;
  .menu {
    display: flex;
    flex-wrap: wrap;
    .item {
      width: 72px;
      height: 72px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      border-radius: 2px;
      .icon {
        width: 40px;
        height: 40px;
        background-position-x: center;
        background-position-y: center;
      }

      .write-article {
        background-image: url("https://lf3-cdn-tos.bytescm.com/obj/static/xitu_juejin_web/69704c654798bb27cffca68e5a79976e.svg");
      }

      .issue-points {
        background-image: url("https://lf3-cdn-tos.bytescm.com/obj/static/xitu_juejin_web/c225c20007c699a48fe9aa8a32be2ee6.svg");
      }

      .write-note {
        background-image: url("https://lf3-cdn-tos.bytescm.com/obj/static/xitu_juejin_web/92ff1e17678887b64c952833d9d0dd0b.svg");
      }

      .create-jcode {
        background-image: url("https://lf3-cdn-tos.bytescm.com/obj/static/xitu_juejin_web/cf3f3dbcd5a32a7a4de5c7b834402cef.svg");
      }

      .drafts {
        background-image: url("https://lf3-cdn-tos.bytescm.com/obj/static/xitu_juejin_web/b1008fc20ddf1733b5bd800ed4bcc18e.svg");
      }

      .title {
        font-size: 14px;
        line-height: 24px;
        color: #515767;
      }
    }
  }
}
.bytemd {
  height: calc(100vh - 61px) !important;
}

.ant-btn{
  border-radius: 3px;
}