.list-context img {
      width: 100%;
      border-radius: 5px;
      border: 1px solid #f0f0f0;
      max-width: 1000px !important;
      display: block;
      margin: 8px auto;

}

.itemIcon{
      color: #7a7a7a;
      margin-right: 14px;
}